
.wp-block[data-type="kunoichi/offer"] {
	float: none !important;
}

.kbl-offer {

	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;

		.wp-block[data-type="core/image"] {
			flex-basis: 50%;
		}

		.wp-block[data-type="kunoichi/offer-content"] {
			flex-basis: 50%;
		}

		.wp-block[data-type="kunoichi/offer-action"] {
			flex-basis: 100%;
		}

	}
}

.wp-block[data-type="kunoichi/offer"][data-align="right"] {

	.kbl-offer > .block-editor-inner-blocks > .block-editor-block-list__layout {
		flex-direction: row-reverse;
	}
}
