.kbl-price {

	&-table {

		> .block-editor-inner-blocks > .block-editor-block-list__layout,
		> .editor-inner-blocks > .editor-block-list__layout {
			display: flex;
			margin: 0;
			padding: 0;

			> div[data-type="kunoichi/price"] {
				flex: 0 1 100%;
			}

			> .block-list-appender {
				flex: 1 1 100%;
			}
		}
	}

	&-detail {
		text-align: center;
	}

	&-number {
		display: inline-block;
	}

	&-help {
		display: inline-block;
	}
}
